@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 &display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #121517;
    font-family: 'Roboto', sans-serif;
}
button {
    border: none;
    outline: none;
}
.menu {
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
}
.scrollable-menu {
    display: flex;
    padding: 12px 10px;
    width: 100%;
    overflow-x: auto;
}

.scrollable-menu::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-menu {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.menu_button {
    margin: 0 6px;
    padding: 0 24px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    background: #F3F2F7;
    color: #707070;
}
.menu_button.skletion{
    min-width: 100px;
}
.menu_button-image {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.main{
    margin: 24px 0;
}
.container{
    margin: 0 auto;
    max-width: 480px;
}
.card_box{
    margin: -16px 0;
}
.card_box .card{
    padding: 16px;
    display: flex;
}
.card_img-box{
    width: 152px;
}
.card_img-box img{
    width: 100%;
    object-fit: contain;
}
.card-text-section{
    margin-left: 12px;
}
.card_title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.card_description{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #6C757D;
    margin-bottom: 16px;
}
.card_price{
    background: #FEDA00;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 600;
    display: inline-block;
}
